.gs-button {
    margin: 5px;
    width: 100px;
    height: 40px;
    border-radius: 10px;

    background-color: #B9B9B9;

    font-family: Menlo, serif;
    font-weight: bolder;
    border-style: solid;
    border-color: grey;
}

.gs-button:hover {
    color: white;
    box-shadow: 5px 5px 5px #FFFFFF;
}

.gs-button-selected {
    color: white;
}
