
.gs-choice-box-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    max-width: 200px;
}

.gs-choice-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
}

.gs-choice-box-parent {
    background-color: lightgray;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: darkslategrey;
}

.gs-choice-box-child {
    background-color: lightgray;
}

.gs-choice-box:hover {
    background-color: whitesmoke;
}
